.eventcontainer{
    position: relative;
    text-align: center;
}

.eventImg{
    margin-top: 3%;
    width: 90%; 
    height: 200px;
    border-radius: 5%;
}
.eventName{
    color: aliceblue;
    position:absolute;
    font-size: 40px;
    top: 45%;
    bottom: 55%;
    right :8%;
}

.eventDate{
    color: pink;
    position:absolute;
    font-size: 20px;
    top: 70%;
    bottom: 30%;
    right :8%;
}
.eventTime{
    color:  pink;
    position:absolute;
    font-size: 20px;
    top: 80%;
    bottom: 20%;
    right :8%;
}